{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Movies</title>
    <link rel="stylesheet" href="{% static 'css/fav.css' %}">
</head>
<body style="   font-family:'sherif'; background-color:plum;  ">

<main class="content">
  
    <h1 style="text-align:center;" id="about">About Us</h1>
    <div>
      <H4 style="margin-top: 5%;color: brown;">Welcome to MoviesHub !</H4><br>
      
      <p style="margin-top: -3%;">At MoviesHub, we are passionate about the magic of cinema and dedicated to bringing you the ultimate movie experience. Whether you're a cinephile or a casual moviegoer, our platform is designed to be your go-to destination for everything related to the world of film.</p><br><br><br>
      
      <H4 style="margin-top: -6%;color: brown;">Our Story:</H4><br>
      
      <p style="margin-top: -3%;">Established in 2023, MoviesHub was born out of a shared love for storytelling through the lens of a camera. Our team of film enthusiasts came together with the mission to create a space where fellow movie lovers could connect, explore, and immerse themselves in the captivating universe of cinema.</p><br><br><br>
    
      <H4 style="margin-top: -6%;color: brown;">What Sets Us Apart:</H4><br>
      
      <p style="margin-top: -3%;">At MoviesHub, we understand that the world of movies is vast and diverse. What sets us apart is our commitment to curating a rich tapestry of cinematic experiences. From timeless classics to the latest blockbusters, we cover it all. Our passion extends beyond the mainstream, and we take pride in showcasing hidden gems, indie films, and international masterpieces that might have slipped under your radar.</p><br><br><br>
      
      <H4 style="color: brown;margin-top: -6%;">What You'll Find Here:</H4><br>
      
      
      <p style="margin-top: -3%;"> Our team of seasoned critics provides thoughtful and insightful reviews to help you make informed choices about what to watch.<p style="margin-top: -3%;"></p><br><br><br><br>
      
       <H4 style="color: brown;margin-top: -6%;">Latest Trailers and News:</H4> <br>
       <p style="margin-top: -3%;">Stay up-to-date with the hottest trailers and breaking news from the film industry.<br><br><br><br>
      
      <H4 style="color: brown;margin-top: -6%;">Curated Lists:</H4> <br>
      <p style="margin-top: -3%;">Explore carefully curated lists of movies based on genres, themes, and moods. Whether you're in the mood for a heartwarming drama, a spine-tingling thriller, or a laugh-out-loud comedy, we've got you covered.</p><br><br><br><br>
      
      <H4 style="color: brown;margin-top: -6%;">Join Our Community:</H4><br>

      
      <p style="margin-top: -3%;"> MoviesHub is more than just a website; it's a community of like-minded individuals who share a passion for storytelling. Join our forums, engage in discussions, and connect with fellow movie buffs from around the globe.</p><br><br><br><br>
      
      <H4 style="color: brown;margin-top: -6%;">Contact Us:</H4><br>
      
      <p style="margin-top: -3%;">Have questions, suggestions, or just want to chat about your favorite films? We'd love to hear from you! Contact our team at vichuofficial@gmail.com or connect with us on https://www.facebook.com/.</p><br><br><br>
      
      <p style="text-align: center;color: rebeccapurple;margin-top: -3%;">Thank you for being a part of the  Movie  MoviesHub community. Get ready to embark on a cinematic journey with us!
      
      Feel free to customize this template based on the specific details and personality of your movie website.</p>
      
      
      
      
      
      </h3>
  </div>

   <div style="text-align:center;" id="Contact">
    <h1>Contact</h1>
    <p>contact us: +91- 9789021322</p>
  </div>
</dv>
</main>
</body>
</html>